{% extends "base.html" %}
{% load clippy %}

{% block title %}{% if not success %}Welcome{% else %}Your URL was successfully shortened!{% endif %}{% endblock %}

{% block content %}
<div id="index">
    <h1>Welcome to your friendly URL shortener.</h1>
    <div id="shortener">
    {% if success %}
        <div class="success">
            <p>Your URL was successfully shortened!</p>
            <p>
                <span class="url long">{{ long_url }}</span><br/>
                became<br/>
                <span class="url short">{{ short_url|urlize }}</span>
                {% clippy short_url "#F1EDE4" %}
            </p>
            <p><a href="{% url index %}">Click here to shorten another URL.</a></p>
        </div>
    {% else %}
    <form method="POST" action="{% url index %}">
            <p>
                <label for="id_url" id="url-label">Shorten the following URL:</label><br/>
                {{ form.url }}
            </p>
            {{ form.url.errors }}
            <p>
                (Optional) short name:<br/>
                <label for="id_slug" id="slug-label">http://{{ current_site.domain }}/</label>
                {{ form.slug }}
            </p>
            {{ form.slug.errors }}
            <p class="submit"><button type="submit">Shorten it!</button></p>
        </form>
    {% endif %}
</div>
</div>
{% endblock %}

{% block sidebar %}
<ul>
    <li id="bookmarklet">
    <h2>Bookmarklet</h2>
    <p>Drag this to your bookmark bar:<br/>
    <a href="javascript:(function(){window.open('http://{{current_site.domain}}/?url='+encodeURIComponent(location.href))})()">Shorten with {{ current_site.name }}</a></p>
    </li>
</ul>
{% endblock sidebar %}

{% block extrafooter %}
<script type="text/javascript">index.init();</script>
{% endblock %}

